@import '../variables';

.svw-directory-listing a {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  p {
    margin: 0;
    text-decoration: underline;
  }
}

.svw-file-icon-placeholder,
.svw-file-icon {
  height: $mpad;
  margin-right: $spad;
  width: $mpad;

  &:last-child {
    margin-right: 0;
  }
}

.svw-directory-listing {
  font-size: 15px;
}
