@import 'sass-themify/sass-themify';
@import './variables';

.svw-header {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 20px;
  padding: $spad calc(#{$pad} - #{$spad});

  &:not(.standalone) {
    border-bottom: 2px solid;
  }

  p {
    margin: 0;
  }
}

.svw-header a {
  > *:not(:only-child) {
    display: inline-block;
    vertical-align: middle;
  }

  p {
    text-decoration: underline;
  }
}

.svw-header-left {
  min-width: 160px;

  > *:not(:last-child) {
    border-right: 1px solid transparent;
    margin-right: $spad;
    padding-right: $spad;
  }
}

.svw-header-right {
  flex: 1;
  text-align: right;
  width: 100%;

  > *:not(:first-child) {
    border-left: 1px solid transparent;
    margin-left: $spad;
    padding-left: $spad;
  }
}

.svw-header-left,
.svw-header-right {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  a:first-child img:first-child {
    margin-left: -$spad;
  }
}

.svw-header-nav-back {
  img {
    height: 24px;
    width: 24px;
  }
}

@include sass-themify() {
  .svw-header {
    background: sass-themify-get-color('bg-header') or none;
    border-bottom-color: sass-themify-get-color('border-header') or sass-themify-get-color('border-highlight') or transparent;

    &,
    a {
      color: sass-themify-get-color('fg-header') or inherit;
    }
  }

  .closed .svw-header {
    background: sass-themify-get-color('bg-header-closed') or sass-themify-get-color('bg-header') or none;
    color: sass-themify-get-color('fg-header-closed') or sass-themify-get-color('fg-header') or inherit;
  }

  .svw-header-left > *:not(:last-child) {
    border-right-color: sass-themify-get-color('bg-header-seperator') sass-themify-get-color('bg-seperator') or transparent;
  }

  .svw-header-right > *:not(:first-child) {
    border-left-color: sass-themify-get-color('bg-header-seperator') sass-themify-get-color('bg-seperator') or transparent;
  }
}
