@import 'sass-themify/sass-themify';
@import './variables';

.svw-settings {
  .svw-header-right select,
  .svw-header-left select {
    border: 0;
  }

  .svw-header-left > *:not(:last-child) {
    margin-right: $spad;
  }

  .svw-header-right > *:not(:first-child) {
    margin-left: $spad;
  }
}

@include sass-themify() {
  .svw-settings.svw-header {
    border-bottom-color: sass-themify-get-color('border-settings') or rgba(sass-themify-get-color('border-highlight'), 0.4) or transparent;
  }
}
