@import 'sass-themify/sass-themify';
@import '../variables';

.svw-markdown {
  line-height: 1.5;
  padding: $mpad $mpad;

  > *:first-child {
    margin-top: 0;
  }

  pre > code {
    border: 2px solid transparent;
    border-radius: 0;
    font-size: 12px;
    line-height: 1.5;
    padding: $mpad;
  }

  *:not(pre) > code {
    border-radius: 0;
    font-family: $font-body;
    font-size: 14px;
    line-height: 2;
  }

  > p:only-child > img:only-child {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }
}

.svw-content-wrapper.single-code-fence .svw-markdown {
  padding: 0;
}

.svw-content-wrapper.single-code-fence pre {
  margin: 0;
}

.svw-content-wrapper.single-code-fence code {
  border: 0;
}

@include sass-themify() {
  .svw-markdown {
    color: sass-themify-get-color('fg-md') or sass-themify-get-color('fg') or inherit;

    pre > code {
      border-color: sass-themify-get-color('border-md-code-block') or sass-themify-get-color('border-highlight') or transparent;
    }

    p {
      background: sass-themify-get-color('bg-md-p') or none;
      color: sass-themify-get-color('fg-md-p') or inherit;
    }

    em {
      background: sass-themify-get-color('bg-md-italic') or none;
      color: sass-themify-get-color('fg-md-italic') or inherit;
    }

    strong {
      background: sass-themify-get-color('bg-md-bold') or none;
      color: sass-themify-get-color('fg-md-bold') or inherit;
    }

    blockquote {
      background: sass-themify-get-color('bg-md-blockquote') or none;
      color: sass-themify-get-color('fg-md-blockquote') or inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      background: sass-themify-get-color('bg-md-headers') or sass-themify-get-color('bg-headers') or none;
      color: sass-themify-get-color('fg-md-headers') or sass-themify-get-color('fg-headers') or inherit;
    }

    *:not(pre) > code {
      background: sass-themify-get-color('bg-md-code-inline') or none;
      color: sass-themify-get-color('fg-md-code-inline') or inherit;
    }
  }
}
